body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}
.deadly-color {
  color: #51ff0d;
}
.fahad-tag {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}
.fahad-pera {
  font-weight: 800;
  text-align: justify;
}
.flexible-container {
  display: flex;
}
.half-weight {
  width: 50%;
  padding-left: 5%;
}

body {
  margin: 0px;
}
.half-weight img {
  width: 500px;
  height: 450px;
  padding-left: 363px;
}
.hire-fahad {
  text-decoration: none;
  background-image: linear-gradient(to left, #ff7979, #badc58);
  padding: 10px 30px;
  border-radius: 10px;
}
.fahad-pera {
  padding-bottom: 40px;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}

/*-----End of shagor part---*/

.fahim {
  color: #bba14f;
}
.fahim-tag {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}

.fahim-pera {
  font-weight: 800;
  padding-bottom: 20px;
}
.toxic {
  color: #00ed01;
}
.fahim-half {
  width: 500px;
  height: 450px;
  padding-left: 690px;
}

.fahim-part div img {
  padding-left: 100px;
}
section {
  margin-bottom: 100px;
}
.hire-fahim {
  text-decoration: none;
  background-image: linear-gradient(to right, #ff6ec7, #9d00ff);
  padding: 10px 30px;
  border-radius: 10px;
}
.fahim-part {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
/*End Of Fahims Part*/
.box-tag {
  color: #ef5709;
}

.addshadow {
  box-shadow: 10px 10px 40px grey;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 40px;
  border-radius: 10px;
}
h2 {
  font-size: 40px;
}
.Playing-style {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#baby-fragger {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, tomato, white);
  border-image-slice: 1;
}
#gold-fragger {
  border-left: 7px solid;
  border-image: linear-gradient(45deg, blue, white);
  border-image-slice: 1;
}
/*---End of Shadow---*/
